@font-face {
    font-family: 'Formula1-Regular';
    src: url('/f1-2021/Formula1-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Formula1-Wide';
    src: url('/f1-2021/Formula1-Wide.otf') format('opentype');
}

@font-face {
    font-family: 'Formula1-Bold';
    src: url('/f1-2021/Formula1-Bold.otf') format('opentype');
}